/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define COLEMAK 1
#define NUMPAD 2
#define MEDIA 3
#define LOWER 4
#define RAISE 5

/ {
	keymap {
		compatible = "zmk,keymap";

/*
 * Icelandic letter bindings 
 *  | Letter  | Command |
 *  |---------|---------| 
 *  |    Ð    |  LBKT   | 
 *  |    Þ    |  FSLH   | 
 *  |    Æ    |  SEMI   | 
 *  |    Ö    |  MINUS  | 
 * See symbols at bottom of file
 */

		default_layer {
// --ENGLISH---------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                    |  6   |  7    |  8    |  9   |   0   |   -   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                    |  Y   |  U    |  I    |  O   |   P   |  "["  |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                    |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MEDIA |  | NUMPAD |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER  | RAISE| BSPC  | GUI   |
// --ICELANDIC-------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                    |  6   |  7    |  8    |  9   |   0   |   Ö   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                    |  Y   |  U    |  I    |  O   |   P   |   Ð   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                    |  H   |  J    |  K    |  L   |   Æ   |   ´   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MEDIA |  | NUMPAD |  N   |  M    |  ,    |  .   |   Þ   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  |  ENTER | RAISE| BSPC  | GUI   |
			bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                            &kp N6     &kp N7   &kp N8    &kp N9  &kp N0   &kp MINUS
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                             &kp Y      &kp U    &kp I     &kp O   &kp P    &kp LBKT
&kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                             &kp H      &kp J    &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B     &tog MEDIA  &tog NUMPAD &kp N      &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LALT &kp LGUI &mo LOWER &kp SPACE   &kp RET     &mo RAISE  &kp BSPC &kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		colemak_layer {
// --ENGLISH---------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                    |  6   |  7    |  8    |  9   |   0   |   -   |
// |  TAB  |  Q  |  W  |  F   |  P   |  B   |                    |  J   |  L    |  U    |  Y   |   ;   |  "["  |
// |  CTRL |  A  |  R  |  S   |  T   |  G   |                    |  M   |  N    |  E    |  I   |   O   |   '   |
// | SHIFT |  Z  |  X  |  C   |  D   |  V   |  MEDIA |  | NUMPAD |  K   |  H    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER  | RAISE| BSPC  | GUI   |
// --ICELANDIC-------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                    |  6   |  7    |  8    |  9   |   0   |   Ö   |
// |  TAB  |  Q  |  W  |  F   |  P   |  B   |                    |  J   |  L    |  U    |  Y   |   Æ   |   Ð   |
// |  CTRL |  A  |  R  |  S   |  T   |  G   |                    |  M   |  N    |  E    |  I   |   O   |   ´   |
// | SHIFT |  Z  |  X  |  C   |  D   |  V   |  MEDIA |  | NUMPAD |  K   |  H    |  ,    |  .   |   Þ   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER  | RAISE| BSPC  | GUI   |
			bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                            &kp N6     &kp N7   &kp N8    &kp N9  &kp N0   &kp MINUS
&kp TAB   &kp Q  &kp W  &kp F    &kp P    &kp B                             &kp J      &kp L    &kp U     &kp Y   &kp SEMI &kp LBKT
&kp LCTRL &kp A  &kp R  &kp S    &kp T    &kp G                             &kp M      &kp N    &kp E     &kp I   &kp O    &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp D    &kp V     &tog MEDIA  &tog NUMPAD &kp K      &kp H    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LALT &kp LGUI &mo LOWER &kp SPACE   &kp RET     &mo RAISE  &kp BSPC &kp RGUI
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		numpad_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |     |     |     |                    |      |   7   |   8   |  9   |   (   |   )   |
// |       |     |  ^  |     |     |     |                    |      |   4   |   5   |  6   |   -   |   =   |
// |       |  <- |  v  | ->  |     |     |                    |      |   1   |   2   |  3   |   +   |   *   |
// |       |     |     |     |     |     |        |  | Numpad |      |   0   |   ,   |  .   |   /   |       |
//                     |     |     |     |        |  |        |      |       |       |
			bindings = <
&trans &trans   &trans   &trans    &trans &trans                     &trans &kp KP_N7 &kp KP_N8    &kp KP_N9  &kp KP_LPAR  &kp KP_RPAR
&trans &trans   &kp UP   &trans    &trans &trans                     &trans &kp KP_N4 &kp KP_N5    &kp KP_N6  &kp KP_MINUS &kp KP_EQUAL
&trans &kp LEFT &kp DOWN &kp RIGHT &trans &trans                     &trans &kp KP_N1 &kp KP_N2    &kp KP_N3  &kp KP_PLUS  &kp KP_MULTIPLY
&trans &trans   &trans   &trans    &trans &trans &trans  &tog NUMPAD &trans &kp KP_N0 &kp KP_COMMA &kp KP_DOT &kp KP_SLASH &trans
                         &trans    &trans &trans &trans  &trans      &trans &trans    &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		media_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |      |      |      |      | PWR  |                  |      |      |      |      |       |       |
// |       | SUN+ |  <<  | Play |  >>  | Subs |                  |      |      |      |      |       |       |
// |       | SUN- | MUTE | VOL- | VOL+ |      |                  |      |      |      |      |       |       |
// |       |  <-  |  v   |   ^  |  ->  |      |        |  |      |      |      |      |      |       |       |
//                       |      |      |      |        |  |      |      |      |      |
			bindings = <
&trans &trans       &trans     &trans       &trans       &kp C_PWR                     &trans &trans &trans &trans &trans &trans
&trans &kp C_BRI_UP &kp C_PREV &kp C_PP     &kp C_NEXT   &kp C_CAPTIONS                &trans &trans &trans &trans &trans &trans
&trans &kp C_BRI_DN &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &trans                        &trans &trans &trans &trans &trans &trans
&trans &kp LEFT     &kp DOWN   &kp UP       &kp RIGHT    &trans    &tog MEDIA  &trans  &trans &trans &trans &trans &trans &trans
                               &trans       &trans       &trans    &trans      &trans  &trans &trans &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		lower_layer {
// --ENGLISH (Can´t be bothered to update both halves for English layout) -------------------------------------
// | BTCLR | BT1 | BT2 | BT3 | BT4 | BT5  |                    |      |       |       |      |       |       |
// ...
// --ICELANDIC-------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 | BT3 | BT4 | BT5 |                     |      |       |       |  ≤   |   ≥   |       |
// |       |  "  |  |  |  =  |  *  |  ^  |                     |      |   [   |   ]   |  <   |   >   |   =   |
// |       |  '  |  /  |  -  |  +  |  #  |                     |      |   (   |   )   |  {   |   }   |   ~   |
// |       |  `  |  \  |  _  |  ±  |  &  | Colemak |  |        |      |       |   ;   |  :   |   ?   |       |
//                     |     |     |     |         |  |        |      |  DEL  |       |
			bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3     &bt BT_SEL 4                    &trans &trans     &trans      &kp LA(COMMA) &kp LA(DOT)   &trans
&trans     &kp AT       &kp LA(GRAVE) &kp RPAR      &kp PIPE         &kp LA(N6)                      &trans &kp LA(N8) &kp LA(N9)  &kp GRAVE     &kp LS(GRAVE) &kp RPAR
&trans     &kp RBKT     &kp AMPS      &kp EQUAL     &kp BSLH         &kp HASH                        &trans &kp LS(N8) &kp LS(N9)  &kp LA(N7)    &kp LA(N0)    &kp LA(RBKT)
&trans     &kp LA(BSLH) &kp LA(MINUS) &kp LS(EQUAL) &kp LA(LS(BSLH)) &kp CARET &tog COLEMAK  &trans  &trans &trans     &kp LS(DOT) &kp LS(COMMA) &kp RBRC      &trans
                                      &trans        &trans           &trans    &trans        &trans  &trans &kp DEL    &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		raise_layer {
// --ENGLISH (Can´t be bothered to update both halves for English layout) -------------------------------------
// |       |  F1 |  F2 |  F3 |  F4 |  F5  |                    |  F6  |   F7  |  F8   |  F9  |  F10  |  F11  |
// ...
// --ICELANDIC---------------------------------------------------------------------------------------------------
// |       |  F1 |  F2 |  F3 |  F4 |  F5  |                    |  F6  |   F7  |  F8   |  F9  |  F10  |  F11  |
// |       |  @  |  %  |  £  |  $  |  €   |                    |      |       |       |      |       |  F12  |
// |       |  !  |  ?  |  ;  |  :  |  #   |                    |  <-  |   v   |   ^   | ->   |   :   |   '   |
// |       |  ¡  |  ¿  | VOL-| VOL+|  &   |        |  |        | HOME | PG DN | PG UP | END  |   ;   |       |
//                     |     |     |      |        |  |        |      |       |       |
			bindings = <
&trans &kp F1     &kp F2         &kp F3         &kp F4       &kp F5                     &kp F6   &kp F7    &kp F8    &kp F9    &kp F10       &kp F11
&trans &kp LA(Q)  &kp PRCNT      &kp LS(LA(N3)) &kp LS(N4)   &kp LA(E)                  &trans   &trans    &trans    &trans    &trans        &kp F12
&trans &kp LS(N1) &kp RBRC       &kp LS(COMMA)  &kp LS(DOT)  &kp LS(N3)                 &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &kp LS(DOT)   &kp RBKT
&trans &kp LA(N1) &kp LS(LA(E))  &kp C_VOL_DN   &kp C_VOL_UP &kp LS(N6) &trans   &trans &kp HOME &kp PG_DN &kp PG_UP &kp END   &kp LS(COMMA) &trans
                                 &trans        &trans        &trans     &trans   &trans &trans   &kp DEL   &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

	};
};

/*
 * Icelandic bindings (Letters and Symbols) 
 * | Letter  | Command |
 * |---------|---------| 
 * |    Ð    |  LBKT   | 
 * |    Þ    |  FSLH   | 
 * |    Æ    |  SEMI   | 
 * |    Ö    |  MINUS  | 
 * |---------|---------| 
 *
 * | Symbols | Command | 
 * |---------|----------------------| 
 * |    (    |  LS(N8)              |     
 * |    )    |  LPAR                |   
 * |    {    |  LA(N7)              |     
 * |    }    |  LA(N0)              |     
 * |    [    |  LA(N8)              |     
 * |    ]    |  LA(N9)              |     
 * |    <    |  GRAVE               |    
 * |    >    |  TILDE               |    
 * |    /    |  AMPS                |   
 * |    \    |  LA(MINUS)           |        
 * |    |    |  LA(GRAVE)           |        
 * |    !    |  EXCL                |   
 * |    "    |  AT                  | 
 * |    #    |  HASH                |   
 * |    $    |  DOLLAR              |     
 * |    £    |  LS(LA(N3)           |     
 * |    %    |  PRCNT               |    
 * |    &    |  CARET               |    
 * |    *    |  KP_MULTIPLY or PIPE |
 * |    =    |  RPAR                |     
 * |    ~    |  LA(RBKT)
 * |    -    |  EQUAL               |     
 * |    +    |  KP_PLUS or BSLH     |              
 * |    ±    |  LA(LS(BSLH))        |              
 * |    ?    |  RBRC                |     
 * |    ´    |  SQT                 | Note: Dead key
 * |    '    |  RBKT                |   
 * |    ’    |  LA(FSLH)            |       
 * |    `    |  LA(BSLH)            | Note: Dead key
 * |    ≤    |  LA(COMMA)           |
 * |    ≥    |  LA(DOT)             |
 * |---------|----------------------| 
 */
